 body {
      background-color: #f1f1f1ef
}
h1 {
font-family: "TW Cen MT"   
}
p {
font-family: "Lucida Console"      
}
a {
font-family: "Lucida Console";
}
footer {
border-radius: 10px;
font-family: 'Times New Roman', Times, serif; font-size: 10px;
background-color: gray;
color:#f1f1f1;
text-align: bottom, center;
padding: 20px;
}
header {
border-radius: 10px;
background-color: gray;
color:#f1f1f1;
padding: 10px 25px 10px 25px;

}
header a {
color:#f1f1f1;
font-weight: bold;
}
footer a {
      color:#f1f1f1;
      font-weight: bold;
}
#scaicon {
      width: 40px;
      padding: 0px 10px 0px 0px;
}
a {
      color: rgb(30, 198, 189);
      font-weight: bold;
}
